/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.stripe-wrapper-border {
    border: 1px dashed #1275ff;
    padding: 10px;
    margin: 10px 0;
}