@charset "utf-8";
/* CSS Document */

    #rsvp-dialog-form label, #rsvp-dialog-form input.text { display:block; }
    #rsvp-dialog-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
    #rsvp-dialog-form fieldset { padding:0; border:0; margin-top:25px; }
    #rsvp-dialog-form h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }

i.mce-i-rsvpmaker_upcoming:before {
    font-family: "dashicons";
    content: "\f508";
}
.pricelabel {
width: 200px;
float: left;
margin-top: 5px;
text-align: right;
}
.pricevalue {
margin-top: 5px;
}
.priceblock {
margin-bottom: 10px;
}

h2.nav-tab-wrapper {
	margin:22px 0 0 0;
}

#sections {
	padding:22px;
	background: #fff;
	border:1px solid #ccc;
	border-top:0px;
}

section {
	display:none;
}

section:first-child {
	display:block;
}


.no-js h2.nav-tab-wrapper {
	display:none;
}

.no-js #sections {
	border-top:1px solid #ccc;
	margin-top:22px;
}

.no-js section {
	border-top: 1px dashed #aaa;
	margin-top:22px;
	padding-top:22px;
}

.no-js section:first-child {
	margin:0px;
	padding:0px;
	border:0px;
}
