/**
 * Show admin bar in Fullscreen mode.
 */

 @media (min-width: 600px) {
	body.is-fullscreen-mode .block-editor__container {
		top: 32px;
	}
}

@media (min-width: 782px) {
	body.js.is-fullscreen-mode #wpadminbar {
		display: block;
	}
  
	body.is-fullscreen-mode .block-editor__container {
		min-height: calc(100vh - 32px);
	}

	body.is-fullscreen-mode .edit-post-layout .editor-post-publish-panel {
		top: 32px;
	}
}

@media (min-width: 783px) {
	.is-fullscreen-mode .interface-interface-skeleton {
		top: 32px;
	}
}