/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-rsvpmaker-block  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.countdowndigits {
  display: inline-block;
  font-size: 40px;
  width: 50px;
  text-align: center;
  }
  .countdownlabel {
    display: inline-block;
    font-size: 10px;
    width: 50px;    
    text-align: center;
  }
  
  .countdown-space {
      display:inline-block;
      width: 5px;
      text-align: center;
  }

  .wp-block-rsvpmaker-formwrapper button {
    font-size: x-large;
  }

