/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.limited_border {
	background-color: #ddd;
	font-size: small;
	color: #555;
}
.limited_label {
	background-color: #bbb;
	padding: 4px;
	cursor: pointer;
	user-select: none;
}
